@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #111;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  color: white;
  }
  
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;

  }

  #tasklist::-webkit-scrollbar{
    display: none;
  }
  #web::-webkit-scrollbar{
    display: none;
  }